body{
   width: 80%;
   height: 86%;
   background: linear-gradient(45deg, pink , teal, rgb(121, 55, 66));
   Color: black;
}

.hello{
   color: coral;
}

.bgcss{
   color: rgb(143, 52, 70);
}

#result{
   border: solid 1px darkcyan;
   color: fuchsia;
   border-radius: 8px;
}

.picture{
   transform: rotate(5deg);
   margin-left: 10px;
}